* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100vh;
  background: #f2eae2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.product-card {
  display: flex;
  width: 600px;
  height: 456px;
  border-radius: 8px;
  overflow: hidden;
}

.product-image {
  width: 300px;
}

.product-details {
  width: 300px;
  padding: 32px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 120%;
  color: #6c7289;
  letter-spacing: 5px;
}

h2 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #1c232b;
  margin: 24px 0;
}

p {
  line-height: 160%;
  color: #6c7289;
}

.price {
  display: flex;
  align-items: center;
  gap: 16px;
}

span {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #3d8168;
}

.start-price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 120%;
  text-decoration-line: line-through;
  color: #6c7289;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 50px;
  background: #3d8168;
  border-radius: 8px;
  border: none;
  color: #ffffff;
}

button:hover {
  background: #1a4032;
}
